<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/main-control :: main-fragment(
~{:: #main-content}) }">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 827px;" id="main-content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark" style="padding-left: 200px;">CATALOG EDIT FORM</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/templates/admin}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/catalog}">Catalog</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div style="width: 250px; margin-left: 300px;">
        <form th:action="@{/catalog/update}" method="post" th:object="${catalog}">
            <input type="hidden" name="id" th:field="*{id}">
            <input class="form-control" type="text" name="name" th:field="*{name}" style="float: left; width: 190px">
            <input  type="submit" value="update" class="btn btn-sm btn-primary" style="float: right; height: 38px; border-radius: 5px">
        </form>
    </div>
</div>
</html>